{% extends 'base.html.twig' %}

{% block title %}{{ titulo }}{% endblock %}

{% block body %}
    <h1 class="display-5 mb-4">{{ titulo }}</h1>
    <div class="card p-4">
        {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.password) }}
            {{ form_row(form.nombre) }}
            {{ form_row(form.apellido1) }}
            {{ form_row(form.apellido2) }}
            {{ form_row(form.telefono) }}
            {{ form_row(form.direccion) }}
            {{ form_row(form.guardar) }}
        {{ form_end(form) }}
    </div>
{% endblock %}